* {margin: 0; padding: 0; font-family: Calibri, sans-serif}

body {padding: 96px; color: #FFFFFF; background: #000000}

div {padding: 4px; margin-bottom: 4px; background: #333333; border-radius: 8px}

p {color: #FFFF00; text-align: center}
ul {list-style: none}
